*{
    background-color: #f5e5ec;
    font-family: bc-sklonar, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    display: flex;
    margin-left: 70px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    margin-top: 12px;
    margin-left: 150px;
    gap: 50px;
}

#bday:hover::after{
    content: "like Chuck Norris!";
    margin-top: 20px;
    margin-left: 10px;
    background-color: red;
    color: white;
}

.about{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-top: 20px;
    gap: 50px;
}

#textcenter{
    text-align: center;
}

#textright{
    text-align: right;
}

#textleft{
    text-align: left;
}

#glo:hover{
    content: url(./images/glo-funny.jpg);
}

#kylo:hover{
    content: url(./images/kylo-funny.jpg);
}

.about img {
    width: 400px;
    margin-top: 10px;
}

.menu {
   text-align: center;
   margin-top: 80px;
}

.exp {
    margin-left: 120px;
    margin-top: 80px;
}

.links{
    line-height: 2.5;
}

#projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#games {
    margin-top: 50px;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

#games img{
    max-width: 400px;
}

#eva:hover::after{
    content: url(./images/Eva.png);
    display: block;
    margin-left: 250px;
}

#rebrand:hover::after{
    content: url(./images/rebrand.png);
    display: block;
    margin-left: 250px;
}

#omina:hover::after{
    content: url(./images/omina.png);
    display: block;
    margin-left: 250px;
}

#huella:hover:after{
    content: url(./images/huella.png);
    display: block;
    margin-left: 250px;
}

#somabacu:hover:after{
    content: url(./images/somabacu.png);
    display: block;
    margin-left: 250px;
}

#ecostaff:hover:after{
    content: url(./images/ecostaff.png);
    display: block;
    margin-left: 250px;
}

